body {
    background-color: 0x1099bb;
    padding: 0;
    margin: 0;
    overflow: hidden;;
    width: 100%;
    height: 100%;
}

/* following three (cascaded) are equivalent to above three meta viewport statements */
/* see http://www.quirksmode.org/blog/archives/2014/05/html5_dev_conf.html */
/* see http://dev.w3.org/csswg/css-device-adapt/ */
@-ms-viewport { width: 100vw ; zoom: 100% ; }                           
@viewport { width: 100vw ; zoom: 100% ; }
@-ms-viewport { user-zoom: fixed ; }                                    
@viewport { user-zoom: fixed ; }
@-ms-viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }  
@viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }